body {
	background-color: #282828;
	font-family: 'Alegreya', serif;
	font-family: 'Montserrat', sans-serif;
	color: #d5bf98;
	font-size: 16px;
}

button {
	background-color: #454545;
	color: #d5bf98;
	border-radius: 2px;
	border: none;
	outline: none;
	margin-bottom: 4vh;
}

button:hover {
	background-color: #665C53;
}

section {
	width: 60vh;
	margin: auto;
}

header {
	font-size: 20px;
}

bar {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	width: 100%;
	a {
		padding-left: 2vw;
		padding-right: 2vw;
		color: #E98B4D;
		outline: none;
	}
	a:hover {
		color: #C69E6D;
		outline: none;
	}
	img {
		width: 80px;
		border-radius: 5px;
		padding-bottom: 1em;
	}
	pre {
		width: 80px;
	}
}

footer {
	justify-content: center;
	a {
		padding-left: 2px;
		outline: none;
		padding-right: 2px;
	}
}

a {
	color: #8AB482;
	outline: none;
	text-decoration: none;
}

a:hover {
	outline: none;
	color: #9ED78A;
}

iframe {
	outline: none;
}

card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 4px;
	container {
		name {
			font-size: 23px;
			font-weight: bold;
		}
		topics {
			width: 20%;
		}
		a {
			outline: none;
			color: #83A598;
		}
		a:hover {
			color: #7EB0A4;
		}
	}
}

card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

pages {
	font-size: 17px;
}

focus {
	img {
		height: 17.3vw;
	}
}

comment {
	font-size: 12px;
	color: #E98B4D;
	opacity: 0.7;
	font-style: italic;
	float: right;
}
